body {
	color: #005288;    
	font-family: Nasalization;
	background-color: black;
    /* background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat; */
}

main{    
    margin: 5vh 5vw;
  
}
#map {
    height: 35vh;
    width: 100%;
    margin: 0%;
}
.logo{
    width: 200px;
    margin-left: 20px;
    margin-top: 0px;
}

h1{ 
    font-size: 2em;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgba(255, 247, 247, 0.8);
    border-radius: 20%;
}

h3{
    font-size: 2em;
    margin: 0px;
}

p, h5{
    display: none;
}

.landing, .weer, .foto, .animatie{
    margin-bottom: 50px;
    padding: 20px;
    border: 2px solid  rgba(255, 247, 247, 0.8);
    border-radius: 25px;
}

#weather{
	background-color: rgba(255, 247, 247, 0.8);
    border-radius: 20%;
    font-size: 18px;
	width: 80px;
    height: 70px;
	padding: 5px;
	text-align: center;
    margin: 10px;
}

#city{
    height: 20px;
    width: 200px;
}
.mapboxgl-popup-content h3{
    line-height: 1;
}

#cityButton, #fotoHond{
    font-family: nasalization;
    margin-top: 10px;
    height: 50px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 20%;
    font-size: 15px;
}

#honden {
	max-width: 300px;
}

.animatie{
    display: none;
}

#elon {
    overflow: hidden;
    transition-duration: 3s;
    margin-top: 0px;
    opacity: 0;
}

#elon.changesSize {
	transition-duration: 3s;
	margin-top: 275px;
	transition-timing-function: ease-in;
	transition: 5s ease-in-out;
    opacity: 1;
}

#playButton, #backButton{
    height: 50px;
    width: 150px;
    background-color: black;
    color: white;
    border-radius: 20%;
    font-size: 20px;
}

.buttons{
    position: absolute;
    top: 1050px;
}


/*LAYOUT*/
.landing{
    grid-area: landing;
}
.weer{
    grid-area: weer;
}
.foto{
    grid-area: foto;
}
.animatie{
    grid-area: animatie;
}


@media only screen and (min-width: 768px) and (max-width: 1365px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "landing landing"
        "weer weer"
        "foto foto";
        gap: 5px;
    }
    
    .logo{
        width: 250px;
    }
    h1, h3{
        font-size: 2.2em;
    }
    p, h5{
        display: block;
    }
    #map {
        height: 50vh;
    }
    #weather{
        font-size: 20px;
        width: 90px;
        height: 80px;
    }
    #city{
        height: 22px;
        width: 250px;
    }
    #cityButton, #fotoHond{
        width: 150px;
        margin-top: 10px;
        font-size: 18px;
    }
    #honden {
        max-width: 400px;
    }
    
}
@media only screen and (min-width: 1366px) and (max-width: 1919px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "landing landing"
        "weer foto";
        gap: 5px;
    } 
    .logo{
        width: 300px;
    }
    h1, h3{
        font-size: 2.5em;
    }
    p, h5{
        display: block;
    }
    #map {
        height: 65vh;
    }
    #weather{
        font-size: 22px;
        width: 100px;
        height: 90px;
    }
    #city{
        height: 20px;
        width: 300px;
    }
    #cityButton, #fotoHond{
        width: 160px;
        margin-top: 10px;
        font-size: 20px;
    }
    #honden {
        max-width: 500px;
    }
    
}
@media only screen and (min-width: 1920px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "landing landing animatie"
        "weer foto foto";
        gap: 5px;
    } 
    .logo{
        width: 350px;
    }
    h1, h3{
        font-size: 2.7em;
    }
    p, h5{
        display: block;
    }
    #map {
        height: 85vh;
    }
    #weather{
        font-size: 25px;
        width: 110px;
        height: 100px;
    }
    #city{
        height: 25px;
        width: 350px;
    }
    #cityButton, #fotoHond{
        width: 170px;
        margin-top: 10px;
        font-size: 25px;
    }
    #honden {
        max-width: 600px;
    }
    .animatie{
        display: block;
    }
}